src/test-utils/answer-template.html            linguist-generated
tests/test-indicator-stackoverflow.html        linguist-generated
tests/test-indicator.html                      linguist-generated
tests/real-examples/real-examples-results.yaml linguist-generated