.indicator-container {
  cursor: pointer;
}

.indicator-good {
  background: #e8f8f0;
  color: #2cb758;
  font-weight: 500;
  border-radius: 2px;
}

.indicator-bad {
  background: #f1d7d7;
  color: #b32027;
  font-weight: 500;
  border-radius: 2px;
}

.indicator-loading {
  background: #e7e9f2;
  color: #191d70;
  font-weight: 500;
  border-radius: 2px;
}
